.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
section.places h1 {
    font-size: 30px;
    top: 205%;
    left: -90px;
    margin-top: 20px;
    position: relative;
}
section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border:  1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
    

}
.places article h2 {
    font-size: 30px;
    margin: 0px;
}
